* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
:root {
    --blue-color:  #0075ff;
    --blue-alt-color:  #0d69d5;
    --orange-color:  #f59e0b;
    --green-color:  #22c55e;
    --red-color:  #f44336;
    --grey-color:  #888;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    background-color: white;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #1e90ff;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #1c75cf;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
/* Start side */
.page {
    display: flex;
    min-height: 100vh;
}
.side {
    position: relative;
    box-shadow: 0 0px 10px #00000012;
    width: 255px;
    padding: 20px;
}
.side h3 {
    text-align: center;
    margin: 0 0 40px;
    position: relative;
}
.side h3::before,
.side h3::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: black;
}
.side h3::before {
    width: 50%;
    height: 3px;
    bottom: -15px;
}
.side h3::after {
    width: 12px;
    height: 12px;
    bottom: -21px;
    border: 3px solid white;
    border-radius: 50%;
}
.side a {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
    color: black;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.side a.active,
.side a:hover {
    background-color: #f6f6f6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 767px) {
    .side {
        width: 60px;
        padding: 10px;
    }
    .side h3 {
        font-size: 13px;
        margin-bottom: 0;
    }
    .side h3::before,
    .side h3::after {
        display: none;
    }
    .side span {
        display: none;
    }
}
/* End side */
/* Start Content */
.page .content {
    width: 100%;
    background-color: #f1f5f9;
    overflow: hidden;
}
/* Start Header */
.content .header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
}
.content .search {
    position: relative;
}
.content .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f013";
    position: absolute;
    color: grey;
    font-weight: 900;
    font-size: 15px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.content .search input {
    padding: 10px;
    width: 155px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
}
.content .search input:focus {
    outline: none;
    width: 200px;
}
.content .search input:focus::placeholder {
    opacity: 0;
}
.content .image {
    display: flex;
    align-items: center;
    gap: 10px;
}
.content .image i {
    position: relative;
}
.content .image i::after {
    content: "";
    position: absolute;
    background-color: #f44336;
    width: 12px;
    height: 12px;
    right: -6px;
    top: -18px;
    border-radius: 50%;
}
.content .image img {
    width: 26px;
}
/* End Header */
.content .head::before,
.content .head::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}
.content .head::before {
    background-color: white;
    width: 75%;
}
.content .head::after {
    background-color: black;
    width: 25%;
}
/* Start Wrapper */
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin: 0 10px 10px 10px;
        gap: 10px;
    }
}
/* Start Welcome */
.wrapper .welcome img {
    width: 160px;
    margin-bottom: -5px;
}
.wrapper .welcome span {
    color: var(--grey-color);
}
.wrapper .box:first-child > img {
    width: 50px;
    margin-top: -25px;
    border: 3px solid white;
    box-shadow: 0 0 10px #eee;
}
.wrapper .box:first-child .info {
    border-color: #eee transparent #eee transparent;
    border-style: solid;
    border-width: 1px;
}
.wrapper .box:first-child .info > div {
    flex: 1;
}
@media (max-width: 767px) {
    .wrapper .box:first-child .info > div:not(:last-of-type) {
        margin-bottom: 20px;
    }
}
.wrapper .box:first-child .info span:last-of-type {
    color: var(--grey-color);
}
.wrapper .box:first-child a {
    background-color: var(--blue-color);
    padding: 5px 10px;
    margin: 63px 15px 13px auto;
}
.wrapper .box:first-child a:hover {
    background-color: var(--blue-alt-color);
}
/* End Welcome */
/* Start Form */
.form input[type="text"] {
    width: 100%;
    border: none;
}
.form textarea {
    width: 100%;
    height: 160px;
    border: none;
    resize: none;
}
.form input[type="submit"] {
    margin-left: auto;
    background-color: var(--blue-color);
    border: none;
    padding: 5px 10px
}
/* End Form */
/* Start Target */
.targets .icon {
    width: 64px;
    height: 64px;
}
.targets .info:first-of-type .icon {
    background-color: rgb(0 119 255 / 20%);
}
.targets .info:nth-of-type(2) .icon {
    background-color: rgb(245 158 11 / 20%);
}
.targets .info:last-of-type .icon {
    background-color: rgb(34 197 94 / 20%);
}
.targets .target {
    flex: 1;
}
.targets span:last-child {
    width: 100%;
    height: 3px;
    margin: 10px 0;
}
.targets span:last-of-type > span::before {
    content: attr(data-target);
    position: absolute;
    background-color: var(--blue-color);
    color: white;
    font-size: 13px;
    padding: 5px;
    right: -18px;
    top: -34px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.targets span:last-of-type > span::after {
    content: "";
    position: absolute;
    border: 7px solid;
    border-color: var(--blue-color) transparent transparent transparent;
    right: -7px;
    top: -9px;
}
/* End Target */
/* Start Tickets */
.tickets .ticket .box {
    width: calc(50% - 10px);
    border: 1px solid #ccc;
}
@media (max-width: 767px) {
    .tickets .ticket .box {
        width: 100%;
    }
}
/* End Tickets */
/* Start News */
.news .row:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}
.news .row img {
    width: 100px;
}
.news .row .info {
    flex-grow: 1;
}
@media (max-width: 767px) {
    .news .row span {
        display: block;
        margin: 10px auto 11px;
        width: fit-content;
    }
}
/* End News */
/* Start Tasks */
.tasks .task:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}
.tasks .task.finish .info,
.tasks .task.finish i {
    opacity: 0.3;
}
.tasks .task.finish .info {
    text-decoration: line-through;
}
.tasks .task .delete {
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.tasks .task .delete:hover {
    color: var(--red-color);
}
/* End Tasks */
/* Start uploads */
.latest-uploads .info:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}
.latest-uploads .info .file {
    flex-grow: 1;
}
.latest-uploads .info img {
    width: 40px;
}

/* End uploads */
/* Start Project */
.last-project ul {
    position: relative;
    margin-left: 10px;
}
.last-project ul::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.last-project li {
    padding-left: 25px;
    position: relative;
}
.last-project li:not(:last-of-type) {
    margin-bottom: 50px;
}
.last-project li:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -11px;
    top: 60%;
    transform: translateY(-50%);
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    outline: 2px solid var(--blue-color);
}
.last-project li.done:before {
    background-color: var(--blue-color);
}
.last-project li.current:before {
    animation: change 0.7s linear infinite alternate;
    -webkit-animation: change 0.7s linear infinite alternate;
}
.last-project img {
    position: absolute;
    right: 0;
    bottom: -140px;
    width: 150px;
    opacity: 0.1;
    animation: top 6s linear infinite, scale 5s linear infinite;
    -webkit-animation: top 6s linear infinite;
}
@keyframes change {
    from {
        background-color: var(--blue-color);
    }
    to {
        background-color: white;
    }
}
@keyframes top {
    from {
        bottom: -140px;
    }
    to {
        bottom: 700px;
    }
}
/* End Project */
/* Start Reminders */

.reminders li > span:first-of-type {
    width: 20px;
    height: 20px;
}
.reminders li > span:last-of-type {
    height: 50px;
    width: 2px;
}
/* End Reminders */
/* Start Post */
.post img {
    width: 50px;
}
.post p {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 1.8;
    min-height: 140px;
}
/* End Post */
/* Start Social */
.social-media li {
    padding-left: 70px;
}
.social-media i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.social-media i:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.social-media .twitter {
    background-color: rgba(28, 160, 242, 0.2);
}
.social-media .facebook {
    background-color: rgba(24, 118, 242, 0.2);
}
.social-media .youtube {
    background-color: rgba(255, 0, 0, 0.2);
}
.social-media .linkedin {
    background-color: rgba(0, 118, 181, 0.2);
}
.social-media .twitter .text {
    color: #1da1f2;
}
.social-media .facebook .text {
    color: #1877f2;
}
.social-media .youtube .text {
    color: #ff0000;
}
.social-media .linkedin .text {
    color: #0077b5;
}
.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}
.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}
.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}
.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}
/* End Social */
/* End Wrapper */
/* Start Projects */
@media (max-width: 767px) {
    .projects {
        margin: 0 10px 10px ;
    }
}
.projects .responsive {
    overflow-x: auto;
}
.projects table {
    border-spacing: 0;
    min-width: 1000px;
}
.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
} 
.projects tbody td:last-child {
    border-right: 1px solid #eee;
} 
.projects td {
    padding: 15px;
}
.projects img {
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.projects img:not(:first-of-type) {
    margin-left: -20px;
}
/* End Projects */
/* End Content */
/* Start Setting */
.setting {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
    .setting {
        grid-template-columns: minmax(100px, 1fr);
        margin: 0 10px 10px 10px;
        gap: 10px;
    }
}
/* Start Control */
.site-control textarea {
    resize: none;
    border-color:#ccc;
    height: 150px;
}
/* End-control */
/* Start genral */
.genral-info input {
    border: 1px solid #ccc;
}
.genral-info input[type="email"] {
    background-color: #f0f4f8;
    color: #bbb;
    cursor: no-drop;
    width: calc(100% - 80px);
    margin-right: 10px;
}
/* End genral */
/* Start Security */
.security-info .information > div:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.security-info a.button {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.security-info a.button:hover {
    background-color: var(--blue-alt-color);
}
/* End Security */
/* Start Social */
.social-info i {
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
    border-right: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.social-info .info:focus-within i {
    color: black;
}
.social-info input {
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
} 
/* End Social */
/* Start Widgets */
.widgets input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.widgets label {
    position: relative;
    cursor: pointer;
}
.widgets label:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #888;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.widgets label:hover::before {
    border-color: var(--blue-alt-color);
}
.widgets label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    width: 22px;
    height: 22px;
    position: absolute;
    font-weight: 900;
    left: -35px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    background-color: var(--blue-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.widgets input:checked + label::after {
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
}
/* End Widgets */
/* Start Backup */
.backup input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.backup .date label {
    position: relative;
    cursor: pointer;
}
.backup .date label::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid #888;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.backup .date input:checked + label::before {
    border-color: var(--blue-color);
}
.backup .date label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -25px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    background-color: var(--blue-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.backup .date input:checked + label::after {
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
}
.backup .servers {
    border-top: 1px solid #eee;
}
@media (max-width: 767px) {
    .backup .servers {
        flex-wrap: wrap;
    }
}
.backup .servers label {
    border: 2px solid #eee;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.backup .servers input:checked +  div label {
    border-color: var(--blue-color);
    color: var(--blue-color);
}
/* End Backup */
/* Start toggle */
.toggle-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
}
.toggle-switch {
    width: 78px;
    height: 32px;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    position: absolute;
    font-weight: 800;
    width: 24px;
    height: 24px;
    background-color: white;
    color: #ccc;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
}
/* End toggle */
/* End Setting */
/* Start Profile */
@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}
.profile-page .rating {
    width: 300px;
}
@media (min-width: 768px) {
    .profile-page .rating {
        border-right: 1px solid #eee;
    }
}
.profile-page .rating img {
    width: 120px;
}
.profile-page .rating .level {
    height: 6px;
    width: 70%;
    margin: 15px auto 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.profile-page .rating .level span {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.profile-page .info .box {
    flex-wrap: wrap;
}
.profile-page .info .box:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.profile-page .info .box > div {
    width: 250px;
}
@media (max-width: 767px) {
    .profile-page .info .box > div {
    width: 100%;
}
    .profile-page .info .box > div:last-of-type {
    margin: auto;
}
}
.profile-page .toggle-switch {
    height: 22px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;

}
@media (max-width:767px) {
    .profile-page .toggle-switch {
        margin: auto;
    }
}
.profile-page .toggle-switch::before {
    width: 14px;
    height: 14px;
    font-size: 10px;
}
.profile-page .toggle-checkbox:checked + .toggle-switch::before {
    left: 60px;
    font-size: 10px;
}
@media (max-width:767px) {
    .profile-page .data {
        flex-direction: column;
    }
}
.profile-page .skills {
    flex: 1;
}
.profile-page .skill:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.profile-page .skill span {
    font-size: 14px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.profile-page .activities {
    flex: 2;
}
.profile-page .activitie:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.profile-page .activitie img {
    width: 64px;
    margin-right: 10px;
}
.profile-page .activitie .time {
    flex-grow: 1;
}
@media (min-width:768px) {
    .profile-page .activitie .time {
        text-align: right;
    }
}
@media (max-width:767px) {
    .profile-page .activitie {
        flex-direction: column;
        text-align: center;
    }
    .profile-page .activitie img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .profile-page .activitie p {
        margin-bottom: 20px;
    }
}
/* End Profile */
/* Start Projects */
.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    
}
@media (max-width: 767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin: 20px 10px;
        gap: 10px;
    }
}
.projects-page .box > span {
    position: absolute;
    right: 12px;
    top: 12px;
}
.projects-page .box .images img {
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    top: 0;
}
.projects-page .box .images img:hover {
    z-index: 5;
    top: -10px;
}
.projects-page .box .images img:not(:first-of-type) {
    margin-left: -20px;
}
.projects-page .box .skills {
    text-align: right;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
    .projects-page .box .skills span {
        display: block;
        width: fit-content;
    }
    .projects-page .box .skills span:not(:last-of-type) {
        margin-bottom: 10px;
    }
    .projects-page .level-price {
        flex-direction: column;
    }
    .projects-page .box .level {
        margin-bottom: 15px;
    }
}
.projects-page .box .level {
    height: 8px;
    width: 250px;
}
.projects-page .box .level,
.projects-page .box .level span {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* End Projects */
/* Start Courses Page */
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
    .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    }
}
.courses-page .course {
    overflow: hidden;
}
.courses-page .course .cover {
    width: 100%;
}
.courses-page .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    border: 2px solid white;
}
.courses-page .course .description {
    line-height: 1.6;
}
.courses-page .course .info {
    border-top: 1px solid #eee;
    font-size: 13px;
}
.courses-page .course .info .title {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
}
/* End Courses Page */
/* Start Friends */
.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin: 20px 10px;
        gap: 10px;
    }
}
.friends-page .icons {
    position: absolute;
    left: 10px;
    top: 10px;
}
.friends-page .icons i {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.friends-page .icons i:hover {
    background-color: var(--blue-color);
    color: white;
}
.friends-page .img img {
    width: 100px;

}
.friends-page .info {
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
.friends-page .vip {
    position: absolute;
    font-size: 40px;
    opacity: 0.2;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.friends-page .profile > div span {
    cursor: pointer;
}
/* End Friends */
/* Start Files */
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}
@media (max-width: 767px) {
    .files-page {
        flex-direction: column;
        align-items: stretch;
        margin: 10px;
        gap: 10px;
    }
}
.files-page .statistics {
    min-width: 260px;
}
.files-page .statistics .box i {
    width: 40px;
    height: 40px;
}
.files-page .statistics .box .blue {
    background-color: rgba(0, 119, 255, 0.2);
} 
.files-page .statistics .box .green {
    background-color: rgba(34, 197, 94, 0.2);
} 
.files-page .statistics .box .red {
    background-color: rgba(244, 67, 54, 0.2);
} 
.files-page .statistics .box .orange {
    background-color: rgba(245, 159, 11, 0.2);
} 
.files-page .statistics .box > span {
    margin-left: auto;
}
.files-page .statistics a {
    padding: 10px 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.files-page .statistics a:hover {
    padding: 20px 25px;
    margin-bottom: 0;
    background-color: var(--blue-alt-color);
}
.files-page .statistics a:hover i {
    animation: to-top 0.7s linear infinite;
    -webkit-animation: to-top 0.7s linear infinite;
}
@keyframes to-top {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
}
.files-page .my-files {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    flex: 1;
}
@media (max-width: 767px) {
    .files-page .my-files {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
    }
}
.files-page .my-files .box img {
    width: 64px;
    height: 64px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.files-page .my-files .box:hover img {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.files-page .my-files .box .date {
    border-top: 1px solid #eee;
}
/* End Files */
/* Start Plans */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
    .plans-page {
        grid-template-columns: minmax(200px, 1fr);
        margin: 10px;
        gap: 10px;
    }
}
.plans-page .box .price {
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .box .price.bg-green {
    outline-color: var(--green-color);
}
.plans-page .box .price.bg-blue {
    outline-color: var(--blue-color);
}
.plans-page .box .price.bg-orange {
    outline-color: var(--orange-color);
}
.plans-page .box .price div {
    font-size: 40px;
}
.plans-page .box .price div span {
    font-size: 25px;
    left: -20px;
    top: 0;
}
.plans-page .box li {
    border-bottom: 1px solid #eee;
}
.plans-page .box li i:last-of-type {
    margin-left: auto;
}
/* End Plans */